<p>Tic Tac Toe</p>
<div>
    <button type="button" id="0" (click)="onButtonClick($event, 0)"></button>
    <button type="button" id="1" (click)="onButtonClick($event, 1)"></button>
    <button type="button" id="2" (click)="onButtonClick($event, 2)"></button>
</div>
<div>
    <button type="button" id="3" (click)="onButtonClick($event, 3)"></button>
    <button type="button" id="4" (click)="onButtonClick($event, 4)"></button>
    <button type="button" id="5" (click)="onButtonClick($event, 5)"></button>
</div>
<div>
    <button type="button" id="6" (click)="onButtonClick($event, 6)"></button>
    <button type="button" id="7" (click)="onButtonClick($event, 7)"></button>
    <button type="button" id="8" (click)="onButtonClick($event, 8)"></button>
</div>


<div>
    <!-- Add current game status here (ie new game, which player's turn it is, etc) -->
</div>

<nav style="text-align: center;">
    <a routerLink="" routerLinkActive="active">Return to game list.</a>
</nav>